<div id="<%= dom_id owner %>">
  <div>
    <strong>Name:</strong>
    <%= owner.name %>
  </div>

  <div>
    <strong>Name kana:</strong>
    <%= owner.name_kana %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= owner.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= owner.email %>
  </div>

  <div>
    <strong>Postal code:</strong>
    <%= owner.postal_code %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= owner.address %>
  </div>

  <div>
    <strong>Bank name:</strong>
    <%= owner.bank_name %>
  </div>

  <div>
    <strong>Bank branch:</strong>
    <%= owner.bank_branch %>
  </div>

  <div>
    <strong>Account type:</strong>
    <%= owner.account_type %>
  </div>

  <div>
    <strong>Account number:</strong>
    <%= owner.account_number %>
  </div>

  <div>
    <strong>Account holder:</strong>
    <%= owner.account_holder %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= owner.notes %>
  </div>

</div>
