<div id="<%= dom_id building %>">
  <div>
    <strong>Name:</strong>
    <%= building.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= building.address %>
  </div>

  <div>
    <strong>Building type:</strong>
    <%= building.building_type %>
  </div>

  <div>
    <strong>Floors:</strong>
    <%= building.floors %>
  </div>

  <div>
    <strong>Built year:</strong>
    <%= building.built_year %>
  </div>

  <div>
    <strong>Nearest station:</strong>
    <%= building.nearest_station %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= building.notes %>
  </div>

</div>
