<% content_for :title, "マスターリース契約一覧" %>

<div class="page-header">
  <h1>マスターリース契約一覧</h1>
  <div class="page-header-actions">
    <%= link_to "CSV ダウンロード", master_leases_path(format: :csv, q: @search_params.to_h), class: "btn" %>
    <%= link_to "新規契約登録", new_master_lease_path, class: "btn btn-primary" %>
  </div>
</div>

<%= form_with(url: master_leases_path, method: :get, class: "search-form", data: { turbo_action: "replace" }) do |form| %>
  <div class="search-fields">
    <div class="search-field">
      <label>オーナー</label>
      <%= form.select "q[owner_id]", Owner.order(:name).pluck(:name, :id), { include_blank: "すべて" }, { value: @search_params[:owner_id] } %>
    </div>
    <div class="search-field">
      <label>建物</label>
      <%= form.select "q[building_id]", Building.order(:name).pluck(:name, :id), { include_blank: "すべて" }, { value: @search_params[:building_id] } %>
    </div>
    <div class="search-field">
      <label>状態</label>
      <%= form.select "q[status]", MasterLease.statuses.keys.map { |s| [I18n.t("activerecord.enums.master_lease.status.#{s}"), s] }, { include_blank: "すべて" }, { value: @search_params[:status] } %>
    </div>
    <div class="search-field">
      <label>契約形態</label>
      <%= form.select "q[contract_type]", MasterLease.contract_types.keys.map { |s| [I18n.t("activerecord.enums.master_lease.contract_type.#{s}"), s] }, { include_blank: "すべて" }, { value: @search_params[:contract_type] } %>
    </div>
    <div class="search-actions">
      <%= form.submit "検索", class: "btn btn-primary" %>
      <%= link_to "クリア", master_leases_path, class: "btn" %>
    </div>
  </div>
<% end %>

<p class="search-result-count"><%= @master_leases.size %>件</p>

<table>
  <thead>
    <tr>
      <th>オーナー</th>
      <th>建物</th>
      <th>契約形態</th>
      <th>契約開始日</th>
      <th>契約終了日</th>
      <th>保証賃料</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @master_leases.each do |master_lease| %>
      <tr>
        <td><%= link_to master_lease.owner.name, master_lease.owner %></td>
        <td><%= link_to master_lease.building.name, master_lease.building %></td>
        <td><%= master_lease.contract_type_label %></td>
        <td><%= master_lease.start_date %></td>
        <td><%= master_lease.end_date %></td>
        <td><%= number_to_currency(master_lease.guaranteed_rent, unit: "¥", precision: 0) if master_lease.guaranteed_rent %></td>
        <td><%= master_lease.status_label %></td>
        <td class="actions">
          <%= link_to "詳細", master_lease %>
          <%= link_to "編集", edit_master_lease_path(master_lease) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
