<div id="<%= dom_id room %>">
  <div>
    <strong>Building:</strong>
    <%= room.building_id %>
  </div>

  <div>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </div>

  <div>
    <strong>Floor:</strong>
    <%= room.floor %>
  </div>

  <div>
    <strong>Area:</strong>
    <%= room.area %>
  </div>

  <div>
    <strong>Rent:</strong>
    <%= room.rent %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= room.status %>
  </div>

  <div>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= room.notes %>
  </div>

</div>
